@attribute [Authorize]
@page "/release-details/{ReleaseId:int}"

@using Services
@using ViewModels.ReleasesModels

@inject ReleasesService ReleasesService

@if (release == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="col-6">
        <div class="card">
            <div class="card-header">Release #@release.ReleaseId</div>
            <div class="card-body">
                <h5 class="card-title">@release.Title</h5>
                <p class="card-text">@release.Description</p>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int ReleaseId { get; set; }

    private ReleaseDetailsModel release { get; set; }
    private int dependentReleaseId { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        release = await ReleasesService.GetReleaseAsync(ReleaseId);
    }
}