@attribute [Authorize(Roles = "TaskCreators")]
@page "/create-task"

@using Enums
@using Services
@using ViewModels

@inject NavigationManager NavigationManager
@inject TasksService TasksService

<div class="col-6">
    <EditForm Model="@createTaskModel" OnValidSubmit="async() => await HandleValidSubmit()">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="card">
            <div class="card-header">@createTaskModel.Title</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <InputText id="title" class="form-control" @bind-Value="createTaskModel.Title" />
                </div>
                <div class="form-group">
                    <label for="type">Type:</label>
                    <InputSelect @bind-Value="createTaskModel.Type">
                        <option value="@TaskType.Bug">Bug</option>
                        <option value="@TaskType.Feature">Feature</option>
                    </InputSelect>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <InputTextArea id="description" class="form-control" @bind-Value="createTaskModel.Description" />
                </div>
                <div class="form-group">
                    <label for="assignedTo">Assigned to:</label>
                    <InputText id="assignedTo" class="form-control" @bind-Value="createTaskModel.AssignedTo" />
                </div>
                <div class="form-group">
                    <label for="deadLine">DeadLine:</label>
                    <input id="deadLine" class="form-control" @bind="createTaskModel.DeadLine" @bind:format="MM/dd/yyyy" />
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private CreateTaskModel createTaskModel = new CreateTaskModel();

    private async Task HandleValidSubmit()
    {
        await TasksService.CreateTaskAsync(createTaskModel);

        NavigationManager.NavigateTo("tasks-list");
    }
}